@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700&display=swap");
body {
  /* font-family: "Noto Naskh Arabic", serif; */
  font-family: "Alexandria", sans-serif;
  direction: rtl;
}
.cat-card:hover .info {
  @apply bottom-0;
}
.cat-card {
  box-shadow: 0px 50px 20px 12px rgba(0, 0, 0, 0.2);
}
.cat-card:hover {
  box-shadow: 0px 50px 20px 12px rgba(0, 0, 0, 0.5);
}
